html {
  font-size: 14px;
  min-width: 250px;
}

input {
  width: 90%;
  padding: 5px;
  border-radius: 2px;
  outline: none;
}

input[type="checkbox"] {
  width: auto;
}

label[for="cb-cookie-save"] {
  margin-bottom: 4px;
  display: block;
}

.mb {
  margin-bottom: 4px;
}

.btn-get-cookie {
  width: 200px;
  background: orange;
  color: #000;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}

.btn-new-cookie {
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
  font-size: 1.24rem;
  cursor: pointer;
  display: block;
}

.text-new-cookie {
  font-size: 1.24rem;
}

.error {
  color: #db2c2c;
}

.hide-block {
  display: none;
}

.show-block {
  display: block;
}